.empty {
  height: 3px;
  min-height: 3px;
  border-top: 1px solid grey;
  font-size: 1px;
}
div,
a {
  font-size: 13px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 13px;
}
p {
  font-size: 13px;
}
td {
  font-size: 14px;
  padding: 4px;
  min-width: 70px;
}
th {
  font-size: 14px;
  text-align: center;
}
tr.empty td {
  padding: 0;
  font-size: 1px;
}
tr.empty td.nn {
  font-size: 16px;
}
td.lq {
  text-align: center;
}
td.temp {
  text-align: center;
}
th.temp {
  min-width: 300px;
}
td.addr {
  min-width: 50px;
}
div.command {
  margin: 40px;
  padding: 40px;
  width: 400px;
}
div.command h3 {
  font-size: 15px;
}
div.command h4 {
  font-size: 14px;
}
div.command p {
  font-size: 13px;
}
div.cmd,
div.cmd1 {
  width: 100%;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  margin: 6px;
  box-sizing: border-box;
}
div.cmd.unkn {
  background-color: gray;
}
div.cmd.on {
  background-color: red;
}
div.cmd.off {
  background-color: green;
}
div.cmd2 {
  width: 49%;
  height: 100%;
  font-size: 32px;
  float: left;
  border: 1px solid gray;
  box-sizing: border-box;
}
div.cmd2.unkn {
  background-color: gray;
}
div.cmd2.on {
  background-color: red;
}
div.cmd2.off {
  background-color: green;
}
div.cmd2 a,
div.cmd1 a {
  font-size: 32px;
  text-decoration: none;
  color: black;
  padding-top: 12px;
}
div.cmd1 {
  border: 1px solid gray;
}
