<html>
<head> 
<link href="/css/gsb_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="cmd">
<div class="cmd2 unkn">Кухня свет</div>
<div class="cmd2 unkn">Кухня вентилятор</div>
</div>
<div class="cmd" unkn>Коридор свет</div>
<div class="cmd">Выключить все</div>
<div class="cmd"><a href="/control">Обновить</a></div>
</body>
</html>