<html>
<head> 
{{template "head" .}}
<link href="/css/gsb_style.css" rel="stylesheet" type="text/css">
<meta http-equiv='refresh' content='60'>
</head>
<body>
{{template "content" .}}
<div><a href="/command">Команды</a></div>
</body>
</html>