<html>
<head> 
<title>Список команд:</title>
<link href="/css/gsb_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
<h2>Команды:</h2>
<p>Relay 6 <a href="/command?on=0x54ef441000609dcc&ep=1">On</a>&nbsp;<a href="/command?off=0x54ef441000609dcc&ep=1">Off</a></p>
</div>
<div> {{ .Result }} </div>
<div><a href="/">На главную</a></div>
</body>
</html>