<html>
<head> 
<title>Список команд:</title>
<link href="/css/gsb_style.css" rel="stylesheet" type="text/css">
</head>
<body class="command">
<div>
<h3>Команды:</h3>
<hr>
<h4>Защита от протечек</h4>
<p>Реле2(Стиральная машина)<a href="/command?on=0x54ef441000193352&ep=1">On</a>&nbsp;<a href="/command?off=0x54ef441000193352&ep=1">Off</a></p>
<p>КранГВ <a href="/command?on=0xa4c138d9758e1dcd&ep=1">On</a>&nbsp;<a href="/command?off=0xa4c138d9758e1dcd&ep=1">Off</a></p>
<p>КранХВ <a href="/command?on=0xa4c138373e89d731&ep=1">On</a>&nbsp;<a href="/command?off=0xa4c138373e89d731&ep=1">Off</a></p>
<hr>
<h4>Реле</h4>
<p>Кухня свет <a href="/command?on=0x00158d0009414d7e&ep=1">On</a>&nbsp;<a href="/command?off=0x00158d0009414d7e&ep=1">Off</a></p>
<p>Кухня вентилятор <a href="/command?on=0x00158d0009414d7e&ep=2">On</a>&nbsp;<a href="/command?off=0x00158d0009414d7e&ep=2">Off</a></p>
<p>Коридор свет <a href="/command?on=0x54ef4410001933d3&ep=1">On</a>&nbsp;<a href="/command?off=0x54ef4410001933d3&ep=1">Off</a></p>
<p>Детская свет <a href="/command?on=0x70b3d52b60022ac9&ep=1">On</a>&nbsp;<a href="/command?off=0x70b3d52b60022ac9&ep=1">Off</a></p>
<p>Паяльник <a href="/command?on=0x70b3d52b60022cfd&ep=1">On</a>&nbsp;<a href="/command?off=0x70b3d52b60022cfd&ep=1">Off</a></p>
<p>Ванна свет<a href="/command?on=0x00158d0009d3930b&ep=1">On</a>&nbsp;<a href="/command?off=0x00158d0009d3930b&ep=1">Off</a></p>
<p>Туалет свет<a href="/command?on=0x00158d0009d3930b&ep=2">On</a>&nbsp;<a href="/command?off=0x00158d0009d3930b&ep=2">Off</a></p>
<!-- <p>Пашина розетка <a href="/command?on=0xa4c138a94e5b9388&ep=1">On</a>&nbsp;<a href="/command?off=0xa4c138a94e5b9388<&ep=1">Off</a></p> -->
<hr>
</div>
<div> {{ .Result }} </div>
<div><a href="/">На главную</a></div>
</body>
</html>