<html>
<head> 
<title>Управление</title>
<link href="/css/gsb_style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="cmd">
<div class="cmd2 {{ .Kitchen_light }}"><a href="/control?cmd=kitchen_light">Кухня свет</a></div>
<div class="cmd2 {{ .Kitchen_vent }}"><a href="/control?cmd=kitchen_vent">Кухня вентилятор</a></div>
</div>
<div class="cmd">
<div class="cmd1 {{ .Coridor_light }} " style="float:none"><a href="/control?cmd=coridor">Коридор свет</a></div>
</div>
<div class="cmd">
<div class="cmd1"><a href="/control?cmd=call">Вызов</a></div>
</div>
<div class="cmd">
<div class="cmd1"><a href="/control?cmd=off">Выключить все</a></div>
</div>
<div class="cmd">
<div class="cmd1"><a href="/control">Обновить</a></div>
</div>
</body>
</html>